<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <title>Bienvenido</title>
    </head>
    <body>
        <div class="cover">
            <h1>Usuarios<small>Tranportes</small></h1>
            <button mat-raised-button color="primary" style="float: center;" class="isLogged" *ngIf="!isLogged" routerLink="/login">
                <span>Ingresar</span>
            </button><br><br>
            <img src="assets/Bienvenido.jpg" width="460" style="margin: auto;">
        </div>
    </body>
</html>