<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <title>Bienvenido</title>
    </head>
    <body>
        <div class="cover">
            <h1>Usuarios   <small>Tranportes</small><br></h1>
            <button mat-raised-button color="primary" style="float: center;" class="logininicio" *ngIf="!logininicio" routerLink="/login">;
            <mat-icon>touch-app</mat-icon>
            <span>Ingresar</span>
            </button>
            <img src="assets/Bienvenido.jpg" width="490" style="margin: auto;">
        </div>
    </body>
</html>