<h1>Angular Material 9n</h1>
<div class="example-container">
  <mat-toolbar color="primary" class="example-toolbar">
    <button mat-icon-button class="isLogged" *ngIf="!isLogged" (click)="sidenav.toggle()">
      <mat-icon *ngIf="!sidenav.opened">menu</mat-icon>
      <mat-icon *ngIf="sidenav.opened">close</mat-icon>
    </button>

    <h1 class="example-app-name">Universidad de cundinamarca</h1>

    <span class="example-spacer"></span>
    <button mat-icon-button class="isLogged" *ngIf="!isLogged" [matMenuTriggerFor]="menu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item  (click)="cerrarSesion()">
        <mat-icon>exit_to_app</mat-icon>
        <span>Cerrar Sesión</span>
      </button>
    </mat-menu>
    </mat-toolbar>
    <mat-sidenav-container class="example-sidenav-container">
      <mat-sidenav #sidenav style="width: 200px">
    
        <img src="assets/simba.jpg" width="128" style="margin-left: 20px"/>
        <button mat-menu-item (click)="sidenav.toggle()" style="cursor: pointer" routerLink="/departamento">
          <mat-icon>emoji_flags</mat-icon>
          <span>Departamentos</span>
        </button>
        <mat-divider></mat-divider>
        <button mat-menu-item (click)="sidenav.toggle()" style="cursor: pointer" routerLink="/ciudad">
          <mat-icon>location_city</mat-icon>
          <span>Ciudad</span>
        </button>
        <mat-divider></mat-divider>
        <button mat-menu-item (click)="sidenav.toggle()" style="cursor: pointer" routerLink="/vehiculo">
          <mat-icon>drive_eta</mat-icon>
          <span>Vehiculo</span>
        </button>
        <mat-divider></mat-divider>
        <mat-divider></mat-divider>
        <button mat-menu-item (click)="sidenav.toggle()" style="cursor: pointer" routerLink="/conductor">
          <mat-icon>person_pin</mat-icon>
          <span>Conductor</span>
        </button>
        <mat-divider></mat-divider>
        
      </mat-sidenav>
      
      <mat-sidenav-content>
        <router-outlet></router-outlet>
      </mat-sidenav-content>
    </mat-sidenav-container>
    </div>