.contenedor{
    width: 100%;
    margin-left: 45%;
  }
  .forms {
    min-width: 150px;
    max-width: 500px;
    margin: auto;
    width: 500%;
  }
  
  .full-width {
    width: 100%;
  }  
  
  td {
      padding-right: 8px;
    }
    
  .button-row button,
  .button-row a {
    margin-right: 8px;
  }