<br><br><br><br>
    <div fxLayout="column" class="p-2">
        <div class="p-2">
            <mat-card>
                <div class="contenedor">
                <mat-card-header fxLayoutAlign="center center">
                    <mat-card-subtitle><h2>Login</h2></mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                    <mat-form-field>
                        <mat-label>Usuario</mat-label>
                        <input matInput placeholder="Usuario" maxlength="15" [(ngModel)]="usuario">
                    </mat-form-field><br>
                    <mat-form-field>
                        <mat-label>Ingrese su clave</mat-label>
                        <input matInput type="password" placeholder="******" maxlength="15" [(ngModel)]="contrasena">
                    </mat-form-field><br>
                    <button mat-raised-button color="primary" (click)="login()">Iniciar sesión</button>
                </mat-card-content>
            </div>
            </mat-card>
        </div>
    </div>

